<table class="table" >
    <thead class="thead-dark">
        <tr>
            <th scope="col" style="width: 20px;">Identificador</th>
            <th scope="col" style="width: 75px;">Fecha</th>
            <th scope="col" style="width: 75px;">Consulta</th>
            <th scope="col" style="width: 200px;">Médico</th>
            <th scope="col" style="width: 125px;">Especialidad</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cita of citas">
            <td scope="row">{{cita.id}}</td>
            <td>{{cita.fecha}}</td>
            <td>{{cita.consulta}}</td>
            <td>{{cita.medico}}</td>
            <td>{{cita.especialidad}}</td>
            <button type="button" (click)="eliminarcita(cita)" style="margin: 10px" class="btn btn-primary" id="registro-button">Eliminar Cita</button>
            <button type="button" (click)="cambiarcita()" style="margin: 10px" class="btn btn-primary" id="cambiarcita-button">Cambiar Cita</button>
        </tr>
    </tbody>
    <br>
</table>
<button type="button" (click)="pedircita()" style="margin: 10px" class="btn btn-primary" id="registro-button">Pedir Cita</button>
    <button type="button" (click)="modificardatoscontacto()" style="margin: 10px" class="btn btn-primary" id="registro-button">Modificar Datos Contacto</button>
    <button type="button" (click)="cambiarcontrasena()" style="margin: 10px" class="btn btn-primary" id="cambiocontrasena-button">Cambiar contraseña</button>
    
