<div class="container">
    <h1>Pedir cita médica</h1>

    <form class="columnas col col-md-12">
        <div class="columna1 col-md-6">
            <label class="container">
                <br>
                    <input type="radio" name="check" id="check" value="1" (click)="mostrarEspecialidad(0)" checked>Médico de cabecera
                    <br>
                    <input type="radio" name="check" id="check" value="2" (click)="mostrarEspecialidad(1)">Especialista
                    <br> 
            </label>
            <div class="columna2 col-md-6" *ngIf="!esMedicoCabecera">
                <div class="form-group" id="especialistas">
                    <label>Elige especialidad  </label>
                    <select class="form-control" required [(ngModel)]="especialidadElegida" [ngModelOptions]="{standalone: true}" #especialidadEscogida="ngModel" (change)=obtenerMedicosEspecialidad()>
                        <option *ngFor="let especialidad of especialidades">{{especialidad._nombre}}</option>
                    </select>
                    <div *ngIf="especialidadEscogida.invalid && (especialidadEscogida.dirty || especialidadEscogida.touched) && especialidadEscogida.value === '' " class="alert alert-danger">
                        El campo especialidad es obligatorio
                    </div>
                </div>
                <div class="form-group" id="medicos">
                    <label>Elige médico  </label>
                    <select class="form-control" required [(ngModel)]="medicoElegido" [ngModelOptions]="{standalone: true}" #medicoEscogido="ngModel">
                        <option *ngFor="let medico of listaMedicos">{{medico}}</option>
                    </select>
                    <div *ngIf="medicoEscogido.invalid && (medicoEscogido.dirty || medicoEscogido.touched) && medicoEscogido.value === '' " class="alert alert-danger">
                        El campo medico es obligatorio
                    </div>
                </div>
            </div>
        </div>
        <div class="columna1 col-md-6">
            <div class="form-group">
                <br>Selecciona la fecha deseada:<br>
                <input class="form-control" type="date" #fecha name="fecha" step="1" min="2019-01-01" max="2020-12-31" value="2019-11-12" required>
                <br> Selecciona la hora deseada: <br>
                <input class="form-control" type="time" #hora name="hora" id="hora" min="07:00" max="15:00" step="900">
            </div>
            <button type="button" (click)="anadircita(fecha.value, hora.value, $event)" style="margin: 10px" class="btn btn-primary" id="pedircita-button">Pedir cita</button>
        </div>
    </form>
</div>