<div class="container">
    <h1>Pedir cita médica</h1>

    <form class="columnas">
        <div class="columna1">
            <label class="container">
                    <input type="radio" name="check" id="check" value="1" (click)="mostrarEspecialidad(0)" checked>Médico de cabecera
                    <br>
                    <input type="radio" name="check" id="check" value="2" (click)="mostrarEspecialidad(1)">Especialista
                    <br> 
                        
            </label>


            <div class="form-group">
                <br>Selecciona la fecha deseada:<br>
                <input type="date" #fecha name="fecha" step="1" min="2019-01-01" max="2020-12-31" value="2019-11-12" required>
                <br> Selecciona la hora deseada: <br>
                <input type="time" #hora name="hora" id="hora" min="07:00" max="21:00" step="300">
            </div>
            <button type="button" (click)="anadircita(fecha.value, hora.value, $event)" style="margin: 10px" class="btn btn-primary" id="pedircita-button">Pedir cita</button>
        </div>

        <div class="columna2">
            <div class="form-group" id="especialistas">
                    <label>Elige especialidad</label>
                <select fromControlName="especialidadControl" [(ngModel)]="especialidades" (ngModelChange)="selectedEspecialidad=$event.target.value">
                    <option *ngFor="let especialidad of especialidades">{{especialidad._nombre}}</option>
                </select>
                <br/> <br/>

                <label>Elige médico</label>
                <select *ngFor="let medico of selectedEspecialidad.listaMedicos">
                        <option >{{medico}}</option>
                </select>
            </div>
        </div>

<!---
        <div class="columna3">
            <div class="form-group" id="medicos" display=none>
                <select class='form-control' [(ngModel)]="cita.dniMedico" #medicos name='medicos' id="medicos" placeholder="Seleccione médico">
                        <option>Mariano Santillana Rodríguez</option> 
                        <option>María Fernández Rodríguez</option>
                        
                </select>
            </div>
        </div>
--->
    </form>
</div>