<div class="container">
    <h1>Registro</h1>

    <form class="columnas">
        <div class="columna1">
            <div class="form-group">
                <label for="Dni">Dni</label>
                <input class="form-control" #dni name="dni" id="dni" placeholder="Dni" required>
            </div>
            <div class="form-group">
                <label for="Password">Password</label>
                <input type="password" class="form-control" #password name="password" id="password" placeholder="Password" required>
            </div>
            <div class="form-group">
                <label for="Nombre">Nombre</label>
                <input class="form-control" #nombre name="nombre" id="Nombre" placeholder="Nombre" required>
            </div>
            <div class="form-group">
                <label for="Apellidos">Apellidos</label>
                <input class="form-control" #apellidos name="apellidos" id="Apellidos" placeholder="Apellidos" required>
            </div>
        </div>
        <div class="columna2">
            <div class="form-group">
                <label for="Email">Email</label>
                <input class="form-control" #email name="email" id="Email" placeholder="Email" required>
            </div>
            <div class="form-group">
                <label for="Telefono">Telefono</label>
                <input class="form-control" #telefono name="telefono" id="Telefono" placeholder="Telefono" required>
            </div>
            <div class="form-group">
                <label for="fechaNacimiento">Fecha nacimiento
                    <br>
                </label>
                <br><input type="date" name="fechaNacimiento" step="1" min="1930-01-01" max="2019-12-31" value="2019-01-01" #fechaNacimiento name="fechaNacimiento" required>
            </div>
            <div class="form-group">
                <label for="Sexo">Sexo</label>
                <!--input class="form-control" id="Sexo" placeholder="Sexo">-->
                <select class='form-control' #sexo name="sexo" name='Sexo'>
                    <option value="1">Hombre</option> 
                    <option value="2">Mujer</option> 
                </select>
            </div>
            <div class="form-group">
                <label for="tipo">Tipo</label>
                <input class="form-control" #tipo name="tipo" id="tipo" placeholder="tipo" required>
            </div>
            <p>

            </p>
            <button type="button" (click)="singUp(nombre.value, apellidos.value, dni.value, password.value, telefono.value,
                                           email.value, sexo.value, fechaNacimiento.value, tipo.value, $event)" style="margin: 10px" class="btn btn-primary" id="registrarse-button">Registrarse</button>
        </div>

    </form>
</div>